<h2 class="text-center m-5">Evaluations for <%= @project.project_name %></h2>
<table class="table table-light table-striped table-bordered rounded text-center">
  <thead>
    <tr>
      <th scope="col" class="col-1">Score</th>
      <th scope="col" class="col-2">Comments</th>
    </tr>
  </thead>
  <tbody>
    <% Evaluation.where(for_student: @for_student.id, project_id: @project.id).each do |evaluation|%>
      <tr>
        <td><%= evaluation.score %></td>
        <td><%= evaluation.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '&#8592 Back'.html_safe, "/static_pages", class:"btn btn-primary btn p-2 rounded col-1" %>
