<%= form_with url:create_team_courses_path(id: @course.id), method:"post", model: @team, class:"row" do |form| %>
  <div class="col-5">
    <%= form.text_field :team_name, class:"form-control form-control-lg", placeholder:"Team Name", id:nil%>
  </div>
  <%= form.hidden_field :course_id, value:@course.id, id:nil %>
  <div class="actions col-2">
    <%= form.submit "Create Team", class: "btn btn-primary btn-lg p-2 rounded" %>
  </div>
<% end %>
