<table class="table table-light table-striped table-bordered rounded mt-3">
  <thead class="text-center">
    <tr>
      <th  scope="col" class="col-2">Teams</th>
      <th  scope="col" class="col-2"></th>
      <th  scope="col" class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td class="text-center"> <%= team.team_name %></td>
        <td class="text-center"><%= link_to 'View Team', team %></td>
        <td class="text-center"><%= link_to 'Delete Team', team, method: :delete, data: { confirm: 'Are you sure? Destroying the team will also destroy all students assigned to this team.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
