<%= form_with(url: project_update_path(id: project.id, project_id: project.id, course_id: project.course_id), method: 'patch', model: project) do |form| %>
  <div class="row justify-content-center">
    <div class="col-7">
      <%= form.text_field :project_name, class:"form-control", placeholder:"Course Name", value: project.project_name, id:nil %>
    </div>
    <div class="actions col-2">
      <%= form.submit "Update", class: "btn btn-primary p-2 rounded" %>
    </div>
  </div>
<% end %>
